{% extends 'base.html' %}
{% block title %}
    | Study Material
{% endblock title %}
{% block body %}

<link rel="stylesheet" href="/static/study.css">
    
    <header>
        <h1>Best Recommended Courses</h1>
    </header>
    <!-- Our Section elements here -->
    <section>
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col">
                        <div class="card shadow-sm">
                            <iframe class="bd-placeholder-img card-img-top"
                                    width="100%"
                                    height="225"
                                    src="https://www.youtube.com/embed/MM6TjxrmvoU"
                                    fullscreen
                                    role="img"
                                    aria-label="Placeholder: Thumbnail"
                                    preserveAspectRatio="xMidYMid slice"
                                    focusable="false">
                                <title>Placeholder</title>
                                <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%"
                                fill="#eceeef" dy=".3em">Thumbnail</text>
                            </iframe>
                            <div class="card-body">
                                <p class="card-text">
                                    <a href="https://www.youtube.com/watch?v=MM6TjxrmvoU&list=PLmv0h_u-BMKtON5uMdSz4_4zwnd2gyXNq"
                                       target="_blank">Angela Yu Complete Web Development Course</a>
                                </p>
                                <p>
                                    Every Web Developer must have a basic understanding of HTML, CSS, and JavaScript.
                                    Responsive Web Design is used in all types of modern web development.
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <iframe class="bd-placeholder-img card-img-top"
                                    width="100%"
                                    height="225"
                                    src="https://www.youtube.com/embed/6mbwJ2xhgzM"
                                    role="img"
                                    aria-label="Placeholder: Thumbnail"
                                    preserveAspectRatio="xMidYMid slice"
                                    focusable="false">
                                <title>Placeholder</title>
                                <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%"
                                fill="#eceeef" dy=".3em">Thumbnail</text>
                            </iframe>
                            <div class="card-body">
                                <p class="card-text">
                                    <a href="https://www.youtube.com/watch?v=6mbwJ2xhgzM&list=PLu0W_9lII9agiCUZYRsvtGTXdxkzPyItg"
                                       target="_blanl">Web Development Course</a>
                                </p>
                                <p>
                                    This is one of my favorite courses. In this series, you'll learn about HTML, CSS,
                                    JavaScript, and everything needed to be a job-ready web developer. Just hop on, man.
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <iframe class="bd-placeholder-img card-img-top"
                                    width="100%"
                                    height="225"
                                    src="https://www.youtube.com/embed/l1EssrLxt7E"
                                    role="img"
                                    aria-label="Placeholder: Thumbnail"
                                    preserveAspectRatio="xMidYMid slice"
                                    focusable="false">
                                <title>Placeholder</title>
                                <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%"
                                fill="#eceeef" dy=".3em">Thumbnail</text>
                            </iframe>
                            <div class="card-body">
                                <p class="card-text">
                                    <a href="https://www.youtube.com/watch?v=l1EssrLxt7E&list=PLfqMhTWNBTe3H6c9OGXb5_6wcc1Mca52n"
                                       target="_blank">Apna College Complete Web Development Course</a>
                                </p>
                                <p>
                                    Web development is the work involved in developing a website for the Internet or an
                                    intranet. Web development can range from developing a simple single static page.
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col">
                        <div class="card shadow-sm">
                            <iframe class="bd-placeholder-img card-img-top"
                                    width="100%"
                                    height="225"
                                    src="https://www.youtube.com/embed/Rek0NWPCNOc"
                                    role="img"
                                    aria-label="Placeholder: Thumbnail"
                                    preserveAspectRatio="xMidYMid slice"
                                    focusable="false">
                                <title>Placeholder</title>
                                <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%"
                                fill="#eceeef" dy=".3em">Thumbnail</text>
                            </iframe>
                            <div class="card-body">
                                <p class="card-text">
                                    <a href="https://www.youtube.com/watch?v=Rek0NWPCNOc&list=PLfqMhTWNBTe3H6c9OGXb5_6wcc1Mca52n&index=2"
                                       target="_blank"
                                       title="Learn HTML">HTML Introduction</a>
                                </p>
                                <p>
                                    HTML (HyperText Markup Language) is the most basic building block of the Web. It
                                    defines the meaning and structure.
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <iframe class="bd-placeholder-img card-img-top"
                                    width="100%"
                                    height="225"
                                    src="https://www.youtube.com/embed/yLL6btsiaa4"
                                    role="img"
                                    aria-label="Placeholder: Thumbnail"
                                    preserveAspectRatio="xMidYMid slice"
                                    focusable="false">
                                <title>Placeholder</title>
                                <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%"
                                fill="#eceeef" dy=".3em">Thumbnail</text>
                            </iframe>
                            <div class="card-body">
                                <p class="card-text">
                                    <a href="https://www.youtube.com/watch?v=yLL6btsiaa4&list=PLmv0h_u-BMKtON5uMdSz4_4zwnd2gyXNq&index=23"
                                       target="_blanl"
                                       title="Learn CSS">Introduction to CSS</a>
                                </p>
                                <p>
                                    Cascading Style Sheets (CSS) is a stylesheet language used to describe the
                                    presentation of a document written in HTML or XML
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <iframe class="bd-placeholder-img card-img-top"
                                    width="100%"
                                    height="225"
                                    src="https://www.youtube.com/embed/01GNWUuLbYk"
                                    role="img"
                                    aria-label="Placeholder: Thumbnail"
                                    preserveAspectRatio="xMidYMid slice"
                                    focusable="false">
                                <title>Placeholder</title>
                                <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%"
                                fill="#eceeef" dy=".3em">Thumbnail</text>
                            </iframe>
                            <div class="card-body">
                                <p class="card-text">
                                    <a href="https://www.youtube.com/watch?v=01GNWUuLbYk&list=PLu0W_9lII9agiCUZYRsvtGTXdxkzPyItg&index=46"
                                       target="_blank">Introduction to JavaScript</a>
                                </p>
                                <p>
                                    JavaScript (JS) is a lightweight, interpreted, or just-in-time compiled programming
                                    language with first-class functions.
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col">
                        <div class="card shadow-sm">
                            <iframe class="bd-placeholder-img card-img-top"
                                    width="100%"
                                    height="225"
                                    src="https://www.youtube.com/embed/MM6TjxrmvoU"
                                    fullscreen
                                    role="img"
                                    aria-label="Placeholder: Thumbnail"
                                    preserveAspectRatio="xMidYMid slice"
                                    focusable="false">
                                <title>Placeholder</title>
                                <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%"
                                fill="#eceeef" dy=".3em">Thumbnail</text>
                            </iframe>
                            <div class="card-body">
                                <p class="card-text">
                                    <a href="https://www.youtube.com/watch?v=MM6TjxrmvoU&list=PLmv0h_u-BMKtON5uMdSz4_4zwnd2gyXNq"
                                       target="_blank">Angela Yu Complete Web Development Course</a>
                                </p>
                                <p>
                                    Every Web Developer must have a basic understanding of HTML, CSS, and JavaScript.
                                    Responsive Web Design is used in all types of modern web development.
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">
                                            View
                                        </button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">
                                            Edit
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <iframe class="bd-placeholder-img card-img-top"
                                    width="100%"
                                    height="225"
                                    src="https://www.youtube.com/embed/6mbwJ2xhgzM"
                                    role="img"
                                    aria-label="Placeholder: Thumbnail"
                                    preserveAspectRatio="xMidYMid slice"
                                    focusable="false">
                                <title>Placeholder</title>
                                <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%"
                                fill="#eceeef" dy=".3em">Thumbnail</text>
                            </iframe>
                            <div class="card-body">
                                <p class="card-text">
                                    <a href="https://www.youtube.com/watch?v=6mbwJ2xhgzM&list=PLu0W_9lII9agiCUZYRsvtGTXdxkzPyItg"
                                       target="_blanl">Web Development Course</a>
                                </p>
                                <p>
                                    This is one of my favorite courses. In this series, you'll learn about HTML, CSS,
                                    JavaScript, and everything needed to be a job-ready web developer. Just hop on, man.
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">
                                            View
                                        </button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">
                                            Edit
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <iframe class="bd-placeholder-img card-img-top"
                                    width="100%"
                                    height="225"
                                    src="https://www.youtube.com/embed/l1EssrLxt7E"
                                    role="img"
                                    aria-label="Placeholder: Thumbnail"
                                    preserveAspectRatio="xMidYMid slice"
                                    focusable="false">
                                <title>Placeholder</title>
                                <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%"
                                fill="#eceeef" dy=".3em">Thumbnail</text>
                            </iframe>
                            <div class="card-body">
                                <p class="card-text">
                                    <a href="https://www.youtube.com/watch?v=l1EssrLxt7E&list=PLfqMhTWNBTe3H6c9OGXb5_6wcc1Mca52n"
                                       target="_blank">Apna College Complete Web Development Course</a>
                                </p>
                                <p>
                                    Web development is the work involved in developing a website for the Internet or an
                                    intranet. Web development can range from developing a simple single static page.
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">
                                            View
                                        </button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">
                                            Edit
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col">
                        <div class="card shadow-sm">
                            <iframe class="bd-placeholder-img card-img-top"
                                    width="100%"
                                    height="225"
                                    src="https://www.youtube.com/embed/Rek0NWPCNOc"
                                    role="img"
                                    aria-label="Placeholder: Thumbnail"
                                    preserveAspectRatio="xMidYMid slice"
                                    focusable="false">
                                <title>Placeholder</title>
                                <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%"
                                fill="#eceeef" dy=".3em">Thumbnail</text>
                            </iframe>
                            <div class="card-body">
                                <p class="card-text">
                                    <a href="https://www.youtube.com/watch?v=Rek0NWPCNOc&list=PLfqMhTWNBTe3H6c9OGXb5_6wcc1Mca52n&index=2"
                                       target="_blank"
                                       title="Learn HTML">HTML Introduction</a>
                                </p>
                                <p>
                                    HTML (HyperText Markup Language) is the most basic building block of the Web. It
                                    defines the meaning and structure.
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">
                                            View
                                        </button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">
                                            Edit
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <iframe class="bd-placeholder-img card-img-top"
                                    width="100%"
                                    height="225"
                                    src="https://www.youtube.com/embed/yLL6btsiaa4"
                                    role="img"
                                    aria-label="Placeholder: Thumbnail"
                                    preserveAspectRatio="xMidYMid slice"
                                    focusable="false">
                                <title>Placeholder</title>
                                <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%"
                                fill="#eceeef" dy=".3em">Thumbnail</text>
                            </iframe>
                            <div class="card-body">
                                <p class="card-text">
                                    <a href="https://www.youtube.com/watch?v=yLL6btsiaa4&list=PLmv0h_u-BMKtON5uMdSz4_4zwnd2gyXNq&index=23"
                                       target="_blanl"
                                       title="Learn CSS">Introduction to CSS</a>
                                </p>
                                <p>
                                    Cascading Style Sheets (CSS) is a stylesheet language used to describe the
                                    presentation of a document written in HTML or XML
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">
                                            View
                                        </button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">
                                            Edit
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <iframe class="bd-placeholder-img card-img-top"
                                    width="100%"
                                    height="225"
                                    src="https://www.youtube.com/embed/01GNWUuLbYk"
                                    role="img"
                                    aria-label="Placeholder: Thumbnail"
                                    preserveAspectRatio="xMidYMid slice"
                                    focusable="false">
                                <title>Placeholder</title>
                                <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%"
                                fill="#eceeef" dy=".3em">Thumbnail</text>
                            </iframe>
                            <div class="card-body">
                                <p class="card-text">
                                    <a href="https://www.youtube.com/watch?v=01GNWUuLbYk&list=PLu0W_9lII9agiCUZYRsvtGTXdxkzPyItg&index=46"
                                       target="_blank">Introduction to JavaScript</a>
                                </p>
                                <p>
                                    JavaScript (JS) is a lightweight, interpreted, or just-in-time compiled programming
                                    language with first-class functions.
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">
                                            View
                                        </button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">
                                            Edit
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock body %}
